{% extends "base.html" %}

{% block header %}
<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}
<section class="max-w-lg">
    <p>Merklisten für stressige Notfälle</p>
</section>
<section class="max-w-lg">
    {% for p in pages %}
    <li class="p-2 {% if p==page %} active {% endif %}"><a
            href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
</section><!-- /#content -->
{% endblock content %}