{% extends "base.html" %}

{% block header %}
<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
{% endblock %}

{% block content %}
<section class="px-1 text-xl md:col-start-2">
    <h2 class="text-2xl px-2">Merklisten für stressige Notfälle</h2>
    <p class="px-2">
        Jeder kennt die Situation, wo unter hohen zeitlichem und situativem
        Druck
        auch erfahrene Kolleg/innen wichtige Aspekte vergessen oder übersehen.
        Dafür sind diese Checklisten gemacht: Sicher zu stellen, dass man das
        gelernte Wissen auch vollständig anwendet.
    </p>
    <p class="px-2">
        Diese Listen sind für erfahrene Ärzt/innen als Merkhilfe in stressigen
        Situationen gedacht.
        Sie sind kein Ersatz für eigenes Wissen, praktische Weiterbildung und
        klinische Erfahrung.
        Es lohnt sich, sich schon in ruhigen Zeiten mit den Listen und
        Erklärungen vertraut zu machen.
    </p>
    <p class="px-2">
        Die Listen sind mit Sorgfalt erstellt worden, aber vielleicht nicht
        fehlerfrei.
        Im Zweifel richtet Euch nach den aktuellen Leitlinien oder den Vorgaben
        Eurer Chef- oder Oberärztin.
        Rückmeldungen über Fehler oder Verbesserungsvorschläge sind immer
        willkommen.
    </p>
</section>
<nav class="px-1 md:pl-0 text-2xl md:col-start-1 md:row-start-1">
    {% for p in pages %}
    <div class="p-2 odd:bg-amber-200 even:bg-amber-100">
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
    </div>
    {% endfor %}
</nav><!-- /#content -->
{% endblock content %}