@tailwind base;
@tailwind components;
@tailwind utilities;


blockquote {
    @apply text-xl md:text-2xl list-decimal list-outside ml-8 mb-3;
    counter-reset: paragraph;
    position: relative;
}
blockquote p {
    padding-left: 0px;
}
blockquote p:before {
    content: counter(paragraph) ".";
    counter-increment: paragraph;
    position: absolute;
    left: -36px;
    text-align: right;
}

blockquote a,
.content a {
    @apply text-indigo-800 underline
}

h2 {
    @apply text-lg md:text-xl
}
h2, h3 {
    @apply pt-2 pb-1 mt-2 font-bold
}

p {
    @apply leading-normal py-1
}

li p {
    @apply py-0
}

hr {
    border-top: 3px solid #6B7280;
    margin-bottom: 12px;
}
ul {
    list-style: disc outside;
    @apply py-1 ml-5
}
abbr {
    text-decoration: underline dotted;
}
.calcbutton {
    @apply inline-block px-5 py-2 mr-1 mb-1 font-medium text-base leading-tight rounded shadow-md bg-yellow-400 transition duration-150 ease-in-out 
}
.calcbutton:hover,
.calcbutton:active,
.calcbutton:focus {
    @apply bg-yellow-500 shadow-lg
}
.calcbutton:focus {
    @apply outline-none ring-0 
}
.calcbutton.current {
    @apply bg-yellow-600
}